:root{
  --cor-caixa: rgba(226, 180, 142, 0.95); 
  --cor-home: rgba(226, 180, 142);
  --cor-titulo: #8B4513;
}

body{
  height: 100px;
  padding-top: 3rem;
}
h2, h1{
    color: white;
}

.apresentacao {
    color: white;
}
.navbar-nav .nav-link {
    font-size: 1.2em; 
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.personagem-imagem {
    height: 500px; 
    object-fit: cover;
}

.carousel-imagem {
    height: 600px; 
    object-fit: cover;
}

.btn-personalizado {
    background-color: var(--cor-home);
    border-color: var(--cor-caixa);
}

.btn-personalizado:hover {
    background-color: var(--cor-caixa);
    border-color: var(--cor-home);
}

.accordion-item .accordion-header button.accordion-button:not(.collapsed) {
    background-color: var(--cor-caixa); 
    color: var(--cor-titulo); 
}

.accordion-item .accordion-header button.accordion-button:focus {
    border-color: var(--cor-botao); 
    box-shadow: 0 0 0 0.25rem var(--cor-botao-sombra-foco); 
}

footer{
  background-color: var(--cor-home);
}

.list{
    background-color: var(--cor-home);
}

.estilizacao {
    background-color: var(--cor-caixa);
}	
.paragrafo {
    font-size: 18px;
}